<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="22dac740-802d-495b-94ff-c8225015ddde" Publisher="CN=Aaron" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="22dac740-802d-495b-94ff-c8225015ddde" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>StopwatchTimer</DisplayName>
    <PublisherDisplayName>Aaron</PublisherDisplayName>
    <Logo>Assets\icon6.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="StopwatchTimer.App">
      <uap:VisualElements DisplayName="StopwatchTimer" Square150x150Logo="Assets\icon7.png" Square44x44Logo="Assets\icon4.png" Description="StopwatchTimer" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\icon3.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\icon5.png" BackgroundColor="skyBlue" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>